extends course_skeleton
block styles
	link(rel="stylesheet", href="https://s3.amazonaws.com/radiant-sky/public/stylesheets/course_admin.css")
block scripts
	script
		$(document).ready(
			function(){
				$("#get-course-key").click(
					function(e){
						e.preventDefault();
						$.post("/course_key/", function(k){$("#key_space").text(k); $("#hid_key_space").val(k);});
					}
				);
				$("#restore-defaults").click(
					function(e){
						e.preventDefault();
						$("#cname").val("#{loc.course_name}");
						$("#cid").val("#{loc.course_label}");
						$("#key_space").text("#{loc.course_key}");
					}
				);
			}
		);
block maincontent
	#settings-list.maincol-content
		.setting-unit
			.setting-title Course Details
			.setting-content
				form(action="/courses/#{loc.course_id}/edit", method="post", enctype="multipart/form-data")
					table(style="border-collapse: separate; border-spacing: 10px;")
						tr
							td
								.fieldname Course Name
							td
								input(type="text", name="cname", value="#{loc.course_name}")#cname.textinput
						tr
							td
								.fieldname Course Id
							td
								input(type="text", name="clab", value="#{loc.course_label}")#cid.textinput
						tr
							td
								.fieldname Masthead Image
							td
								input(type="file", name="masthead_img", style="display: none;")#inv-file
								input(type="button", value="browse").button#browse-click
								#clear-file
									a(href="#") x
								input(readonly="readonly", placeholder="file name").textinput#file-name
						tr
							td
								.fieldname Course Key
							td(style="display: inline-table; width: 7em;")
								#key_space(style="color: blue;") #{loc.course_key}
								input(type="hidden", name="ckey", value="#{loc.course_key}")#hid_key_space
							td(style="display: inline-table;")
								button#get-course-key.button get new key
						tr
							td
								input(type="submit", value="save changes").button
							td
								a(href="", style="font-size: 13px;")#restore-defaults.button restore defaults
		.setting-unit
			.setting-title Course Actions
			.setting-content
				a(href="#", style="color: red; border-bottom: thin dotted") End the Course
