extends skeleton
block body
	#course-header
		block course-navig-bar
			#masthead(style="background-image: url(https://s3.amazonaws.com/radiant-sky/public/images/masthead/#{loc.masthead_img})")
			#course-title
				span#course-name
					a(href="#") #{loc.course_name}
					span(style="font-size: 0.8em; color: rgb(170, 170, 170); margin-left: 10px") #{loc.course_label}
			#course-navig-bar
				table
					tr
						td
							if portal == "main" || portal == ""
								a(href="/courses/#{loc.course_id}/main").selected-course-navig-link Stream
							else
								a(href="/courses/#{loc.course_id}/main") Stream
						td
							if portal == "assignments"
								a(href="/courses/#{loc.course_id}/assignments").selected-course-navig-link Assignments
							else
								a(href="/courses/#{loc.course_id}/assignments") Assignments
						td
							if portal == "calendar"
								a(href="/courses/#{loc.course_id}/calendar").selected-course-navig-link Calendar
							else
								a(href="/courses/#{loc.course_id}/calendar") Calendar
						td
							if portal == "people"
								a(href="/courses/#{loc.course_id}/people").selected-course-navig-link People
							else
								a(href="/courses/#{loc.course_id}/people") People
						td
							if portal == "resources"
								a(href="/courses/#{loc.course_id}/resources").selected-course-navig-link Resources
							else
								a(href="/courses/#{loc.course_id}/resources") Resources
						if role == 1
							td
								if portal == "admin"
									a(href="/courses/#{loc.course_id}/admin").selected-course-navig-link Admin
								else
									a(href="/courses/#{loc.course_id}/admin") Admin
	#maincontent
		block maincontent
